@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    .img-sector{
        background: url('../images/img-2.png');
    }

    @fontface{
        font-family: "Poppins";
        src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        font-weight: normal;
        font-style: normal;
    }

    .poppins{
        font-family: "Poppins";
    }

    @fontface{
        font-family: "Impact";
        src: url('https://www.dafontfree.net/embed/aW1wYWN0LXJlZ3VsYXImZGF0YS8yNS9pLzEyOTYxMi9pbXBhY3QudHRm');
        font-weight: normal;
        font-style: normal;
    }

    .impact{
        
        font-family: "Impact";
    }

    .outline{
        text-shadow: -2px 0 #FFF, 0 2px #FFF, 2px 0 #FFF, 0 -2px #FFF;
        }
}

@layer components{
 .principal-container{
     @apply

    container
    p-10 
    flex
     ;
 },

.sector-container{

    @apply

    flex-1 
    m-10 
    text-justify
    ml-44 
    w-72
    h-52
     ;
 },

.index{

    @apply

    text-mm
    font-bold 
    -ml-16 
    opacity-40 
    inline
    ;
},
.h3{
    @apply
    font-semibold 
    text-6xl 
    -mt-20 
    mb-10
;
},

.info{
 @apply
 text-sm 
 mb-3 
 font-thin 
 text-left
;
},

.image{

    @apply
    w-wst
    h-hst

    ;
}


}




